/* Desktop Structure and Formatting */
body {
    margin: 0px;
}

#header {
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-image: url("images/header-background.png");
}

#subcontainer {
    width: 55%;
    margin: auto;
}

#about {
    width: 300px;
    height: auto;
    float: left;
    background-color:white;
}

#projects {
 width: 723px;
 height: auto;
 float: right;
}
#contact {
    text-align: center;
}

.sitelogo {
    vertical-align: middle;
    display: inline-block;
    font-size: 24pt;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
    color: white;
}

.headshot {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

#about h1 {
    text-align: center;
    color: rgb(31, 61, 143);
}

#about p {
    margin: 10px;
    font-size: 12pt;
    font-family:sans-serif;
}

#projects > h1 {
    color: rgb(31, 61, 143);
    text-align: center;
}

.projectinfo {
    width: auto;
    height: auto;
    min-height: 170px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(169, 202, 233);
}
.projectinfo h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18pt;
    color: rgb(46, 81, 156)

}
.projectinfo h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14pt;
    color: rgb(46, 85, 156)

}

.projectinfo p {
    font-size: 12pt;
    font-family:sans-serif;
}

.projectinfo img {
    margin: 10px;
    float: left;
}
.projectlink {
    display: inline-block;
    font-size: 14pt;
    font-weight: bold;
    color: rgb(21, 79, 146);
}

a:link { text-decoration: none; color: currentColor;}


a:visited { text-decoration: none; color: currentColor;}


a:hover { text-decoration: none;}


a:active { text-decoration: none;}

/* mobile structure and Formatting*/
@media screen and (max-width:1024px) {  
    #subcontainer {
        width: fit-content;
    }
    
    #about {
        width: 100%;
        height: auto;
        background-color:white;
    }
    
    #projects {
        width: 100%;
        height: auto;
    }
    .sitelogo {
        font-size: 9vw;
        letter-spacing: .5vw;
    }
    #about > h1 {
        font-size: 8vw;
    }
    #about > p {
        font-size: 5vw;
    }
    #projects > h1 {
        font-size: 8vw;
    }
    .projectinfo > h1 {
        font-size: 7vw;
    }
    .projectinfo > p {
        font-size: 5vw;
    }
    .projectinfo > img {
        max-width: 35%;
    }
    .projectlink {
        font-size: 6vw;
    }
}